<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather App</title>
    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <div class="container">
        <header>
            <h1>Weather App</h1>
            <form action="/getcity" method="post">
                <label for="city-input">Enter a city:</label>
                <input type="text" id="city-input" name="city" placeholder="Enter city">
                <button type="submit">Get Weather</button>
            </form>
        </header>      
        <% if (locals.cityname) { %>
            <div class="weather-info">
                <h2><%= cityname %></h2>
                <p><i class="fas fa-thermometer-half"></i> Temperature: <%= citytemp %>°C</p>
                <p><i class="fas fa-temperature-low"></i> Feels Like: <%= feelslike %>°C</p>
                <p><i class="fas fa-tint"></i> Humidity: <%= cityhumidity %>%</p>
                <p><i class="fas fa-tachometer-alt"></i> Pressure: <%= pressure %> hPa</p>
                <p><i id="weather-icon" class="fas"></i> Weather: <%= description %></p>

            </div>
        <% } %>  
    </div>

</body>
</html>
